<ul>
<% @students.each do |student| %>
  <li id = "student_<%=student.id%>">
    <%= link_to "#{student.name}", student_path(student) %>
    <%= link_to "Delete", student_path(student), method: :delete%>
  </li>
<%end%>